.btn{
    background-color: #222;
    color: #FFF;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.6s;
    border: 0.12em solid rgb(53, 52, 52);
}

.btn:hover{
    color: #f5be51;
    border-color: #f8a808;
    border-radius: 0.5em;
}